<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="oppen.fotoram">
    <application
        android:allowBackup="true"
        android:icon="@drawable/olab_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/olab_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".WidgetSetupActivity"
            android:label=""
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <receiver android:name=".FotoramWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/fotoram_appwidget_info" />
        </receiver>

        <provider android:name=".FileProvider" android:authorities="oppen.fotoram" android:exported="true" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>